<h2><%= @cocktail.name %></h2>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">
      <%= "#{dose.description}" %>
      <%= link_to 'Delete', dose_path(dose), method: :delete %></li>
  <% end %>
</ul>
<br>
<p><%= link_to 'Show all cocktails', root_path %></p>
<p><%= link_to 'Add a new Cocktail', new_cocktail_path %></p>
<p><%= link_to 'Add a new Dose', new_cocktail_dose_path(@cocktail) %></p>

